@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(139, 62, 85);
  font-family: "Poppins", sans-serif;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 12;
  color: black;
}

.dropdown {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.projects,
.products {
  position: relative;
}

.projects ul,
.products ul {
  position: absolute;
  background-color: #fff;
  margin: 10px 0;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.projects li,
.products li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects li:hover,
.products li:hover {
  background-color: rgb(218, 179, 191);
}

.dropdown button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.dropdown button:hover {
  color: cyan;
}
