@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --primary-color: #113cfc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  border-bottom: 1px solid black;
  background-color: var(--primary-color);
}

header .nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .nav-bar .logo a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar div:last-child {
  display: flex;
}

.nav-bar .link-list li {
  margin: 0 20px;
}

.nav-bar div .right-coner li {
  margin: 0 10px;
}

.nav-bar div .right-coner li .fa-shopping-cart {
  color: white;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
}

main .container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

main .container .left-col {
  padding: 0 60px;
  /* align-self: flex-start; */
}

main .container .left-col > p {
  max-width: 70%;
}

main .container .left-col .button {
  display: flex;
  margin-top: 20px;
}

main .container .left-col .button a {
  display: inline-block;
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  margin-right: 20px;
  width: 100px;
  height: 35px;
  text-align: center;
  padding-top: 6px;
  border-radius: 20px;
}

main .container .left-col .search {
  margin-top: 20px;
}

main .container .left-col .search input {
  width: 390px;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  border: 1.5px solid #b8b7b4;
}

main .hightlight {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-top: 20px;
  border-top: 1px solid var(--primary-color);
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

main .hightlight > p:first-child {
  display: inline-block;
  position: absolute;
  top: -12px;
  padding: 0 20px;
  background: white;
  font-weight: 500;
}

main .hightlight .card1,
.card2,
.card3 {
  border: 1.5px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px gray;
  width: 200px;
}

main .hightlight .card1,
.card2,
.card3 {
  text-align: center;
}

main .hightlight .card1 img,
main .hightlight .card2 img,
main .hightlight .card3 img {
  border-radius: 50%;
  margin-top: -45px;
  border: 2px solid white;
}

main .hightlight .card-content {
  width: 100%;
}

main .hightlight .card-content a {
  text-decoration: none;
  display: block;
}

main .hightlight > p:last-child {
  display: inline-block;
  position: absolute;
  bottom: -40px;
}

main .hightlight > p:last-child a {
  text-decoration: none;
  font-weight: 400;
}

main .feed-back {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color: var(--primary-color);
  padding: 40px;
}

main .feed-back .card-fb1,
main .feed-back .card-fb2,
main .feed-back .card-fb3 {
  width: 20%;
  background-color: #193498;
  border-radius: 20px;
  padding: 25px;
}

main .feed-back .card-fb1 div,
main .feed-back .card-fb2 div,
main .feed-back .card-fb3 div {
  display: inline-block;
  margin-left: 20px;
  line-height: 30px;
}

main .feed-back {
  color: #b8b7b4;
}

main .feed-back p:first-child {
  color: white;
}

main .feed-back .card-fb1 div .checked,
main .feed-back .card-fb2 div .checked,
main .feed-back .card-fb3 div .checked {
  color: orange;
}

main .feed-back .cmt {
  font-size: 12px;
}

main .feed-back div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

footer p:first-child {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
}

footer .location {
  max-width: 300px;
}
